.custom-modal-section {
  --modal-navy: #0c2340;
  --goodr-shadow: -4px 4px var(--modal-navy);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: #ffffff;
  border: 3px solid var(--modal-navy);
  padding:;
  border-radius: 8px;
  text-align: center;
  width: 484px;
  height: 654px;
  box-shadow: var(--goodr-shadow);
  padding: 52px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-hero {
  position: relative;
  text-align: center;
}

.modal-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.modal-description {
  font-weight: 700;
  font-size: 24px;
  color: var(--modal-navy);
  margin-top: 20px;
}

.dicount-code {
  font-weight: 700;
  font-size: 24px;
  color: #e06287;
  margin-top: 20px;
}

.modal-img {
  width: 374px;
  height: 360px;
  border-radius: 4px;
}

.modal-btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close-modal-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--modal-navy);
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.close-modal-btn:hover {
  opacity: 0.7;
}
.confirm-modal-btn {
  padding: 9px 0px;
  width: 100%;
  background-color: #ede939;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--goodr-shadow);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  border-radius: 25px;
  border: 2px solid var(--modal-navy);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: -2.75px 2.75px var(--modal-navy);
  -webkit-text-stroke: 1px var(--modal-navy); /* For Webkit browsers (Chrome, Safari, etc.) */
}

.confirm-modal-btn:hover {
  box-shadow: 0px 0px 0px var(--modal-navy);
}
.confirm-modal-btn:active {
  box-shadow: 0px 0px 0px var(--modal-navy);
  transform: translate(4px, 4px);

  /* Optional: Change background color on hover */
  background-color: #f7f363;
}

.decline-modal-btn {
  color: var(--modal-navy);
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}
